<?xml version="1.0"?>
<config>
    <modules>
        <Stelo_Wallet>
            <version>1.3.10</version>
        </Stelo_Wallet>
    </modules>
    <frontend>
        <routers>
            <wallet>
                <use>standard</use>
                <args>
                    <module>Stelo_Wallet</module>
                    <frontName>wallet</frontName>
                </args>
            </wallet>
        </routers>
        <layout>
            <updates>
                <wallet>
                    <file>wallet.xml</file>
                </wallet>
            </updates>
        </layout>

        <events>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <type>singleton</type>
                        <class>wallet/payment_observer</class>
                        <method>methodIsAvailable</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
        </events> 

    </frontend>
    <global>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
        
        <models>
            <wallet_resource>
                <class>Stelo_Wallet_Model_Resource</class>
                <entities>
                    <walletcustom>
                        <table>stelo_wallet</table>
                    </walletcustom>
                </entities>
            </wallet_resource>
            <wallet>
                <class>Stelo_Wallet_Model</class>
                <resourceModel>wallet_mysql4</resourceModel>
            </wallet>
            <wallet>
                <class>Stelo_Wallet_Model</class>
                <resourceModel>wallet_resource</resourceModel>
            </wallet>
            <wallet_mysql4>
                <class>Stelo_Wallet_Model_Mysql4</class>
                <entities>
                    <wallet>
                        <table>wallet</table>
                    </wallet>
                </entities>
            </wallet_mysql4>
        </models>
        <resources>
            <wallet_setup>
                <setup>
                    <module>Stelo_Wallet</module>
                    <class>Stelo_Wallet_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wallet_setup>
            <wallet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wallet_write>
            <wallet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wallet_read>
        </resources>
        <blocks>
            <wallet>
                <class>Stelo_Wallet_Block</class>
            </wallet>
            <adminhtml>
                <!--rewrite>
                    <sales_order>Stelo_Wallet_Block_Adminhtml_Sales_Order</sales_order>
                </rewrite-->

                <!--rewrite>
                    <sales_order_view>Stelo_Wallet_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite-->

            </adminhtml>
        </blocks>
        <helpers>
            <wallet>
                <class>Stelo_Wallet_Helper</class>
            </wallet>
        </helpers>
        <events>
            <sales_model_service_quote_submit_after>
                <observers>
                    <wallet_observer>
                        <type>singleton</type>
                        <class>wallet/observer</class>
                        <method>sendWallet</method>
                    </wallet_observer>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </global>

    <adminhtml>
      <events>
          <adminhtml_widget_container_html_before>
              <observers>
                  <wallet_observer>
                      <class>wallet/observer</class>
                      <type>singleton</type>
                      <method>addButtonCancel</method>
                  </wallet_observer>
              </observers>
          </adminhtml_widget_container_html_before>
      </events>
    </adminhtml>

    <default>
        <payment>
            <wallet>
                <active>1</active>
                <model>wallet/wallet</model>
                <order_status>pending</order_status>
                <maxInstallment>1</maxInstallment>
                <title>Carteira Stelo</title>
                <urlNotificacao>http://www.sualoja.com.br/wallet/index/listener</urlNotificacao>
               
                <apiVer>V1</apiVer>
            </wallet>
         </payment>
    </default>
</config>
